<!DOCTYPE HTML>

<html>
  <head>

    <title>Stadium Record</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
          .container {

          }

          .info {

          }

          footer {

          }

          .copyright {
            position: fixed;
            left: 70%;
            bottom: 0%;

          }

          .yield {

          }

          .menu {
            font-size: 15px;
          }

          .vl_left {
            position: fixed;
            left: 5px;
            top: 5px;
            border-right: 120px solid green;
            height: 100%;
          }

          .vl_right {
              position: fixed;
              right: 5px;
              top: 5px;
              border-right: 120px solid green;
              height: 100vh;
          }

    </style>

  </head>
  <body>

    <div class="container">
      <div class="info">
        <h1>Stadium Record</h1>

          <% if logged_in? %>
            <h3>Welcome, <%=current_user.username %>!</h3>
            <table class="menu">
              <tr>
                <th><a href="/visits/new"> New Visit Entry </a></th>
                <th>&nbsp;&nbsp;&nbsp;</th>
                <th><a href="/arenas"> List of Stadiums </a></th>
                <th>&nbsp;&nbsp;&nbsp;</th>
                <th><a href="/visits"> Your Visits </a></th>
                <th>&nbsp;&nbsp;&nbsp;</th>
                <th><a href="/arenas/show"> Your Stadiums </a></th>
                <th>&nbsp;&nbsp;&nbsp;</th>
                <th><a href="/logout"> Log Out</a><br></th>
              </tr>
            <table>
          <%end %>
       </div>

       <% if flash[:error_invalidcred] %>
           <h3 style="color:red;"> <%= flash[:error_invalidcred] %> </h3>
       <% end %>

       <% if flash[:success_login] %>
           <h3 style="color:green;"> <%= flash[:success_login] %> </h3>
       <% end %>

       <% if flash[:error_missinginfo] %>
           <h3 style="color:red;"> <%= flash[:error_missinginfo] %> </h3>
       <% end %>

       <% if flash[:error_emptydate] %>
           <h3 style="color:red;"> <%= flash[:error_emptydate] %> </h3>
       <% end %>

       <% if flash[:error_emptyarena] %>
           <h3 style="color:red;"> <%= flash[:error_emptyarena] %> </h3>
       <% end %>

       <div class="yield">

         <%= yield %>

       </div>
    </div>

    <div class="vl_left"></div>

    <div class="vl_right"></div>

    <footer>
      <div class="copyright"><p>©2020 3MG Group LLC All Rights Reserved&nbsp;&nbsp;</p></div>
    </footer>
  </body>

</html>
