<h2>All Stadiums: </h2>

<img src="https://baseballmagazine.files.wordpress.com/2015/11/mlb-teams-map.jpg?w=640" style="float:center;height: auto;width: auto; max-width: 1500px;max-height: 1500px;">

<% @arenas.each_with_index do |value, index| %>
  <% index == 30 ? break : "" %>



  <h3> <%=index + 1%>) <a href="https://en.wikipedia.org/wiki/<%=value[:name].gsub(/\s+/, '_')%>"><%=value[:name]%></a>, <%=value[:location]%>, <%=value[:team]%> </h3>
<% end %>
