<h2>Your Stadiums You've Visited:</h2>

<h4>Legend: <span style="color:green"> Visited </span> / <span style="color:red">  Not Visited  </span> </h4>

<% if @arenas.length == 0 %>

    <h3 style="color:red"> You haven't visited any stadiums! </h3>
    <h3 style="color:red"> Click "New Visit Entry" to submit a new entry! </h3>

<% else %>

    <% green = 0 %>
    <% @@arena_hash.each_with_index do |value, index| %>

              <% if @uniq_arenas.include?(value[1][:name]) %>

                  <h3 style="color:green"> <%=index + 1%>) <a style="color:green" href="https://en.wikipedia.org/wiki/<%=value[1][:name]%>"><%=value[1][:name]%></a>, <%=value[1][:name]%>, <%=value[1][:name]%> </h3>
                  <% green += 1 %>
              <% else %>
                  <h3 style="color:red"> <%=index + 1%>) <a style="color:red" href="https://en.wikipedia.org/wiki/<%=value[1][:name]%>"><%=value[1][:name]%></a>, <%=value[1][:name]%>, <%=value[1][:name]%> </h3>
              <% end %>

    <% end %>

    <% if green == 30 %>
        <h3><span style="border: 2px solid green;"> !!!!!!!Congrats, you have visited all the stadiums!!!!!!!!!!! </span></h3>
    <% end %>

<% end %>
