<h2>Your Stadiums You've Visited:</h2>

<% @arenas.each_with_index do |arena,index| %>
    <% @user.visits.each do |visit| %>
      <% if arena == visit.arena %>
          <h3> <%=index + 1%>) <a style="color:green" href="https://en.wikipedia.org/wiki/<%=arena[0]%>"><%=arena[1][:name]%></a>, <%=arena[1][:location]%>, <%=arena[1][:team]%> </h3>
      <% else %>
          <h3> <%=index + 1%>) <a style="color:red" href="https://en.wikipedia.org/wiki/<%=arena[0]%>"><%=arena[1][:name]%></a>, <%=arena[1][:location]%>, <%=arena[1][:team]%> </h3>
      <% end %>
    <% end %>
<% end %>
