<h2>Your Stadium Visits:</h2>

<% if @user.visits.empty? %>

    <h3 style="color:red"> You haven't visited any stadiums! </h3>
    <h3 style="color:red"> Click "New Visit Entry" to submit a new entry! </h3>

<% else %>

    <% @user.visits.each_with_index do |visit, index| %>
      <h3> <%=index + 1%>) Stadium: <%=visit.arena.name %></h3>
      <h3>&nbsp;&nbsp;&nbsp; Date: <%=visit.date %> </h3>

      <form method="post" action="/visits/<%= visit.id %>/delete">
      	<input type="hidden" name="_method" value="delete">
      	<input type="submit" value="Delete Visit">
      </form>

      <form method="get" action="/visits/<%= visit.id %>/edit">
	       <input type="submit" value="Edit Visit">
      </form>

      <br>
    <% end %>

<% end %>
